.main{
    height: 600px;
    width: 100%;
    background-color: #1B4242;
    color: white;
    display: flex;
    flex-direction: column;
}
.form{
    height: 200px;
    width: 20%;
    background-color: #9EC8B9;
    margin: auto;
    border: 2px solid black;
    
     display: flex;
     justify-content: center;
     flex-direction: column;
     padding-left: 10px;
     font-size: 20px;
    
}
.int{
    text-align: left;
    justify-content: left;
    display: flex;
    flex-direction: column;
    
}
.btn{
    margin-top: 10px;
    background-color: rgb(93, 93, 233);
    font-size: 20px;
    border-radius: 30px;
}