.main{
    height: 600px;
    width: 100%;
    background-color: #1B6B93;
}
.wel{
    color: white;
    font-size: 100px;
    text-align: center;
    padding: 30px;
    text-decoration: underline black;
}
h2{
    text-align: center;
}
.Link{
    height: 70px;
    width: 18%;
    background-color:#B9FFF8;
    margin: auto;
    text-align: center;
    
    
}
.log{
    font-size: 40px;
    margin-left: 550px;
    margin-top: 30px;
    background-color: beige;
    border-radius: 10px;
}
.log:hover{
    background-color: aqua;
    transform: scale(1.5);
}